
*{padding:0;margin:0;}
body{color:#000;margin:0; padding:0;background:#efefef;font-family:arial, helvetica, georgia;}
.shadow {background:#fafafa;cursor:pointer}
#wrapper {width:960px;margin:0 auto;padding:0;}
.date {width:100px}
#popular {padding:4px;}
li{margin-bottom:2px;text-align:left;list-style-type:none;background:#fff;border-top:1px solid #0099d4;padding:4px}
li:hover{background:#EFFBFF}
ul {padding:4px;margin:0 2px 0 2px;width:760px;}
.padleft{margin-left:1px;}
.border {border:4px solid #000;}
.noborder {border:0}
.green{background:#BFFFCE;}
.red{background:#FFBFBF;}
.delta {padding:0 12px 0 12px 0}
.w, .r, .nc, .orank, .wt, .rankingspan, .clicks {text-align:right;padding-right:2px;}
/*****
    FONTS
************/
h1, h2 {padding:0;margin:0;font-family: Calibri, Arial, helvetica;color:#000}
h3{font-size:24px;text-align:center;padding:9px;}
/*****
   Forms
************/
.form input{border: 1px solid #d0ccc9;background: #fff;color: #5f95ef;font-size: 11px;font-weight: 700;padding-bottom: 2px;}
.form input.text{font-weight: normal;color: #565656;border: 1px solid #9c9c9c;background: #ddeff6;padding: 2px;margin-bottom: 5px;text-align: left;}
.form input.text.active{background: #ddeff6;border: 1px solid #0099d4;}
th {padding-left:4px;background: #bcd4ec;border-bottom:2px solid #efefef;border-top:2px solid #efefef;}
tr.update {margin:2px 2px 2px 2px;padding:4px; background:#fafafa; border:1px solid #BCD4EC;}
tr.alt td {background: #ecf6fc;}
tr.over td {background: #bcd4ec;cursor:pointer;}
td {padding:4px;border-bottom:1px solid #BCD4EC;}
.hclass {padding:0 12px 0 12px 0;margin:0; text-align:right;};
.date {width:100px}


/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
